<!DOCTYPE html>
<html>
  <head>
    <title>Furima35503</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <%# ブラウザでアプリケーションを開いたときに、payjp.jsが読み込まれます。 %>
   
    <%= stylesheet_link_tag 'application', media: 'all'  %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
